.title-center {
  flex: 1 1 auto;
  text-align: center;
}

mat-form-field{
    padding: 5px;
}

.mat-toolbar {
  margin: 0;
  width: 100%;
  background-color: #7b1fa2;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  flex: 1;
}

span {
  color: #fff;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-field {
  flex: 1;
}

button{
  border-radius: 6px;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }
}
